<% if @order.using_store_credit? %>
  <div class="alert alert-success text-center" data-hook="checkout_payment_store_credit_success">
    <h3><%= Spree.t('store_credit.applicable_amount', amount: Spree::Money.new(@order.total_applicable_store_credit, { currency: @order.currency })) %></h3>
    <% if @order.covered_by_store_credit? %>
      <p><%= Spree.t('store_credit.remaining_amount', amount: @order.display_store_credit_remaining_after_capture) %></p>
    <% else %>
      <p><%= Spree.t('store_credit.additional_payment_needed', amount: @order.display_order_total_after_store_credit) %></p>
    <% end %>
  </div>

<% elsif @order.could_use_store_credit? %>
  <div class="alert alert-info text-center" data-hook="checkout_payment_store_credit_available">
    <h2><%= Spree.t('store_credit.available_amount', amount: @order.display_total_available_store_credit) %></h2>
    <input type="hidden" name="apply_store_credit" id="apply_store_credit" value="0" />
    <%= button_tag Spree.t('store_credit.apply'), name: 'apply_store_credit_button', class: 'continue btn btn-lg btn-primary' %>
  </div>
<% end %>

<div id="gift_card_usage">
  <%= link_to Spree.t('gift_cards.redeem_gift_card'), 'javascript:void(0);', id: 'use_gift_card' %>
  <p id="gift_card_fields" class="field" style="display: none">
    <%= text_field_tag 'redemption_code', nil, {size: 19, maxlength: 19, placeholder: Spree.t('gift_cards.redemption_code')} %>
    <%= button_tag Spree.t('gift_cards.redeem'), name: 'redeem_gift_card', class: 'continue btn btn-lg btn-primary', id: 'redeem_gift_card' %>
  </p>
  <p class="message" style="display: none;"></p>
</div>


<script>
  Spree.scPaymentMethod = $('#payment_method_' + <%= payment_method.id %>);
  Spree.redeemGiftCard = function() {
    var redemption_code = $("#redemption_code").val().trim();
    var data = {'redemption_code': redemption_code};
    if (redemption_code == '') {
      Spree.handleMessage('error', 'Gift Card Code can not be blank.');
      return false;
    }
    $.ajax({
      type: 'POST',
      url: "redeem",
      dataType: 'json',
      data: data,
      success: function (data) {
        console.log(data);
        if (data.status == 'success') {
          window.location.reload();
        }
      },
      error: function (data) {
        console.log(data);
        Spree.handleMessage('error', data.error_message);
      }
    });
  };

  Spree.handleMessage = function(status, message) {
    var selector = $('.message');
    selector.attr('style', '').html('');
    if (status == 'success') {
      selector.attr('style', 'color:red;');
    } else if (status == 'error') {
      selector.attr('style', 'color:green;');
    }
    selector.html(message).show().fadeOut(1000);
  };

  $(document).ready(function() {
    $('#checkout_form_payment [data-hook=buttons]').click(function() {
      if (Spree.scPaymentMethod.is(':visible')) {
        return $('#checkout_form_payment').trigger('submit');
      }
    });

    $('button[name=apply_store_credit_button]').click(function() {
      $('#apply_store_credit').val(1);
      return $('#checkout_form_payment').trigger('submit');
    });

    $('a#use_gift_card').click(function() {
      $('#gift_card_fields').toggle();
    });

    $('#redeem_gift_card').click(function(e) {
      e.preventDefault();
      Spree.redeemGiftCard();
    });
  });
</script>
